<%# locals: (account:) %>

<% message = capture do %>
  <p>Combined with: <strong><%= account.split_targets.map(&:name).join(", ") %></strong></p>
  <p>Synced from Plaid as one account, then split using amortization schedule.</p>
  <% if account.accountable.calibrated_at.present? %>
    <p>Last calibrated: <%= account.accountable.calibrated_at.strftime("%b %d, %Y") %> at <%= format_money Money.new(account.accountable.calibrated_balance, account.currency) %></p>
  <% end %>
<% end %>

<div class="space-y-3">
  <%= render DS::Alert.new(message: message, variant: :info) %>

  <div class="flex gap-2">
    <%= render DS::Link.new(
      text: "Recalibrate",
      variant: :ghost,
      size: :sm,
      href: new_account_recalibration_path(account),
      frame: :modal
    ) %>

    <%= render DS::Button.new(
      text: "Remove Split",
      variant: :outline_destructive,
      size: :sm,
      href: account_split_path(account),
      method: :delete,
      data: { turbo_confirm: "This will merge all split accounts back into one. Continue?" }
    ) %>
  </div>
</div>
